<launch> 
  <rosparam command="load" file="$(find armrob_util)/src/robot_arm_info.yaml" />

  <arg name="model" default="$(find armrob_util)/src/urdf/robot-arm-pen.urdf" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find armrob_util)/src/urdf/urdf.rviz" />

  <param name="robot_description" command="xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!-- Run the camera node and send waypoints -->
  <node name="camera" pkg="final_project" type="camera.py"/>
  <node pkg="rqt_image_view" type="rqt_image_view" name="image_debug" args="/image_data" />


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="draw_pen_rviz" pkg="armrob" type="draw_pen_rviz.py" />
  
  <node pkg="armrob" name="forward_kinematics" type="forward_kinematics.py"/>

  <node pkg="armrob" name="inverse_kinematics" type="inverse_kinematics.py"/>
  <node pkg="armrob" name="smooth_waypoint_seeker" type="smooth_waypoint_seeker.py"/>

  <!-- Utility node to convert angles to microsecond commands and send them to the arm. -->
  <node pkg="armrob" name="command_arm" type="command_arm.py"/>
  
</launch>
